/* CSS Document */
*{margin:0; padding:0; border:0;}

#conteudo{width:400px; height:auto; margin:auto; padding-top:50px;}
#conteudo .titulo{width:auto; height:auto; float:left; margin:0 0 5px 0; font:12px Verdana, Arial, Helvetica, sans-serif; color:#333; font-weight:bold;}
#conteudo .bloco{width:400px; height:auto; float:left; background:#E8E8FF;}
#conteudo .bloco .fileinput_button{width:150px; height:auto; position:relative; float:left; margin:15px 0 15px 125px; overflow:hidden;  cursor:pointer;}
#conteudo .bloco .fileinput_button input{position:absolute; top:0; right:0; margin:0; opacity:0; filter:alpha(opacity=0); transform:translate(-300px, 0) scale(4); font-size:23px; direction:ltr; cursor:pointer;}
