#Atl_agenda{
position: absolute; 
width: 817px; 
height: 27px; 
z-index: 1; 
left: 1px; 
top: 1px; 
font-family:Verdana; 
font-size:24px;
color="#9060c0";
font-weight:bold;
}

aBODY {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: auto; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}

a#container {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 980px; PADDING-RIGHT: 0px; TOP: 0px; PADDING-TOP: 0px
}

a:link {
	TEXT-DECORATION: none;
}

a:visited {
	TEXT-DECORATION: none;
}

a:hover {
	TEXT-DECORATION: underline;
}

.titulo{
	FONT-SIZE: 16pt; 
	font-family:Arial; 
	font-weight:bold;
}

.subtitulo{
	FONT-SIZE: 16pt; 
	font-family:Arial;
}

.inicio {
	COLOR: #c02020;
}

.agenda {
	COLOR: #9060c0;
}

.arquivo {
	COLOR: #0066FF;
}

.sistema {
	COLOR: #18a018;
}

.agendars {
	COLOR: #FF9000;
}

.minhas {
	COLOR: #e060a0;
}

.cadastro{
	color: #008080;
}


#div_agenda{
position: absolute; 
left: 10px; 
top: 105px; 
height:332px; 
width:818px;
BACKGROUND: url(../images/borderbottom.gif) repeat-x 50% bottom;
}